@font-face {
    font-family:"VAGRoundedLTCom-Thin";
    src:url('../webfonts/293E81_0_0.svg') format('svg'),
    url("../webfonts/293E81_0_0.ttf") format('ttf'),
    url("../webfonts/293E81_0_0.eot") format('eot'),
    url("../webfonts/293E81_0_0.woff") format('woff');
}
@font-face {
    font-family:"VAGRoundedLTCom-Bold";
    src:url('../webfonts/293E81_1_0.svg') format('svg'),
    url("../webfonts/293E81_1_0.ttf") format('ttf'),
    url("../webfonts/293E81_1_0.eot") format('eot'),
    url("../webfonts/293E81_1_0.woff") format('woff');
}
.webfont_0 {
    font-family: VAGRoundedLTCom-Thin;
}
.webfont_1 {
    font-family: VAGRoundedLTCom-Bold;
}





html {
	font-family: 'Open Sans', sans-serif;
	font-size:62.5%;
}
body {
	font-size: 1.2rem;
	line-height: 2.0rem ;
	color:#777;
	text-align: center;
}





#toolContainer {
    width: 985px;
    height: 624px;
    position: relative;
    border: 1px solid #1ba8dd;
}

#gameContainer {
    width: 100%;
    height: 576px;
    /*border: 1px solid yellow;*/
    display:none;
    position: relative;
    z-index: 0;
}

#cHelpContainer{
    display:none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
#cPanelContainer {
    display:none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
.reveal-modal-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    z-index: 1;
    /*display: none;*/
    top: 0;
    left: 0;
}
.dialog-content{
    padding: 10px;
}







.container {
	width:960px;
	height:560px;

	margin: 0 auto;
    position: relative;
}
#conPanel-draggable {
	width: 340px;
	height: 425px;
}
.conPanel-frame {
	width: 200px;
	height: 500px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	text-align: center;

	position: relative;
	z-index: 2;

	background: #0f6dad;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmNmRhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iIzFmYmFlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #0f6dad 0%, #1fbaec 11%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f6dad), color-stop(11%,#1fbaec));
	background: -webkit-linear-gradient(top,  #0f6dad 0%,#1fbaec 11%);
	background: -o-linear-gradient(top,  #0f6dad 0%,#1fbaec 11%);
	background: -ms-linear-gradient(top,  #0f6dad 0%,#1fbaec 11%);
	background: linear-gradient(to bottom,  #0f6dad 0%,#1fbaec 11%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f6dad', endColorstr='#1fbaec',GradientType=0 );
}
.conPanel-frame h1 {
	margin:0;
	padding:0;
	line-height: 0;
	position: relative;
	top:22px;
	font-size: 2.3rem;
	color: #fff;
    text-shadow: none !important;
    font-family: VAGRoundedLTCom-Bold;
}
.conPanel-content {
	width: 200px;
	height: 400px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #fff;

	position:relative;
	top:1px;
	margin: 0 auto;
}
.conPanel-shadow {
	position: relative;
	z-index: 1;
	bottom:13px;
	width: 340px;
	height: 20px;
	background:transparent url('../images/PopUp-shadow.png') no-repeat 0 0;
	opacity:0.15;

}
.conPanel-dragger {
	width: 200px;
	height: 40px;
	background:transparent url('../images/PopUp-topBars.png') no-repeat 50% 50%;
	opacity:0.25;
	position: relative;
	top:0;
	cursor: pointer;
}

.okCancel-button-container {
	margin:20px 0 0 -9px;
	width:100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}
.infuze-text-input1 {
	width:30%;
}

.hScroll-box {
    width:100px;
    height:100px;
    background-color: #fff;
    border:1px solid #666;
    display:inline-block;
    *dsplay:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    white-space:normal;
    cursor: pointer;
}
.hScroll-box:hover {
	background-color: #ededed;
}
.hScroll-container {
    width:100%;
    overflow-x:scroll;
    white-space:nowrap;
}








/*




.dragObj {
	display: inline-block;
	overflow: hidden;
	min-width: 96px;
	line-height: 46px;
	padding: 0 24px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	background-color: #159195;
	background-clip: padding-box;
	border-radius: 5px;
	cursor:pointer;
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
}
.dragObj:hover {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1));
}
.dropAreaObj {
	display: inline-block;
	overflow: hidden;
	min-width: 96px;
	line-height: 46px;
	padding: 0 24px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 5px;	
	cursor:pointer;
}


.btnGrad {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.10) 51%, rgba(0, 0, 0, 0.04));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.10) 51%, rgba(0, 0, 0, 0.04));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.10) 51%, rgba(0, 0, 0, 0.04));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.10) 51%, rgba(0, 0, 0, 0.04));
}



.dropAreaObjGrad {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0.02));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0.02));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0.02));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0.02));
	-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
}


.button-divider-lines {
	-webkit-box-shadow: inset 1px 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 1px 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(255, 255, 255, 0.2);
}
.footer-bar {
	background-color: #0f7bb8;
	height: 30px;
	width: 100%;
	display: table;
}
.footer-btn {
	display: inline-block;
	 *dsplay:inline;*/
/* For IE7*//*

    *zoom:1;*/
/* For IE7*//*

	min-width: 50px;
	line-height: 30px;
	padding: 0 14px;
	font-size: 14px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-clip: padding-box;
	cursor:pointer;
	margin-right:-4px;
}
.footer-btn:hover {
	background-color: rgba(255, 255, 255, 0.15);
}
.footer-btn:active {
	background-color: rgba(255, 255, 255, 0.8);
}
.footer-btn p {
	padding:0;
	margin:0;
}
.arrow-nav {
	min-width: 10px;
}

.footer-btns-left .footer-btn:first-child {
	-webkit-box-shadow: inset 0 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(255, 255, 255, 0.2);
}
.footer-btns-left {
	display: table-cell;
	height: 30px;
	white-space: nowrap;
	padding-right: 5px;
}
.footer-btns-center {
    height: 30px;
    width:200px;
    display: table-cell;
    white-space: nowrap;
    padding-left: 1px;
    padding-right: 5px;
}
.footer-btns-right {
	height: 30px;
	display: table-cell;
	white-space: nowrap;
	padding-left: 1px;
}
.footer-btns-spacer {
	display: table-cell;
	height:30px;
	width:50%;
	-webkit-box-shadow: inset 1px 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 1px 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(255, 255, 255, 0.2);
	white-space: nowrap;
}


*/






.footer-bar-tools {
    background-color: #1ba8dd;
    height: 24px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.footer-btn-tools {
    width: 100px;
    height:24px;
    display: inline-block;
    padding: 8px 0 0 0;
    font-family: VAGRoundedLTCom-Bold;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 3px solid #1ba8dd;
    position: relative;
    top:0;
}
.footer-btn-tools.infoBtn {
    width:32px;
    background:#fff url('../images/infoBtnGraphic.png') no-repeat 40% 50%;
}
.footer-btn-tools + .footer-btn-tools {
    margin-left: 6px;
}
.footer-btn-tools:hover, .footer-btn-tools:active {
    border: 3px solid #0f6dad;
}
.footer-btn-tools.disabled {
    border: 3px solid #b9e5f5;
    color: #c1c1c1;
    cursor:default;
}
.footer-btns-center-tools {
    width:350px;
    margin: 0 auto;
    position: relative;
    top:-19px;
}


/* CONTROL PANEL SIZE - OPTION 1 */
.conPanel-frame.op1 {
    width: 340px;
    height: 510px;
}
.op1 > .conPanel-dragger{
    width: 340px;
}
.op1 > .conPanel-content {
    width: 330px;
    height: 464px;
}

/* CONTROL PANEL SIZE - OPTION 2 */
.conPanel-frame.op2 {
    width: 290px;
    height: 470px;
}
.op2 > .conPanel-dragger{
    width: 290px;
}
.op2 > .conPanel-content {
    width: 280px;
    height: 424px;
}

/* CONTROL PANEL SIZE - OPTION 3 */
.conPanel-frame.op3 {
    width: 340px;
    height: 390px;
}
.op3 > .conPanel-dragger {
    width: 340px;
}
.op3 > .conPanel-content {
    width: 330px;
    height: 344px;
}

/* CONTROL PANEL SIZE - OPTION 4 */
.conPanel-frame.op4 {
    width: 417px;
    height: 390px;
}
.op4 > .conPanel-dragger {
    width: 417px;
}
.op4 > .conPanel-content {
    width: 407px;
    height: 344px;
}

/* CONTROL PANEL SIZE - OPTION 5 */
.conPanel-frame.op5 {
    width: 340px;
    height: 360px;
}
.op5 > .conPanel-dragger {
    width: 340px;
}
.op5 > .conPanel-content {
    width: 330px;
    height: 314px;
}


/* CONTROL PANEL SIZE - OPTION 6 */
.conPanel-frame.op6 {
    width: 340px;
    height: 280px;
}
.op6 > .conPanel-dragger {
    width: 340px;
}
.op6 > .conPanel-content {
    width: 330px;
    height: 234px;
}

/* CONTROL PANEL SIZE - OPTION 7 */
.conPanel-frame.op7 {
    width: 340px;
    height: 470px;
}
.op7 > .conPanel-dragger{
    width: 340px;
}
.op7 > .conPanel-content {
    width: 330px;
    height: 424px;
}

/* CONTROL PANEL SIZE - OPTION 8 */
.conPanel-frame.op8 {
    width: 290px;
    height: 490px;
}
.op8 > .conPanel-dragger{
    width: 290px;
}
.op8 > .conPanel-content {
    width: 280px;
    height: 444px;
}






/* Nets Control Panel Options */
.netsOptionGroup {
    text-align: left;
    display: table;
    width:100%;
    height:50px;
}
.netsGroup-1 {
    display: table-cell;
}
.netsGroup-1 fieldset {
    width:160px;
    padding: 0;
    margin: 0;
}

.netsGroup-1 .ui-field-contain {
    width: 100% !important;
}
.netsGroup-2 {
    display: table-cell;
}
.netsGroup-2 div.ui-select {
    width:150px;
}





/* Number Line Control Panel Options */
.numLine-Block {
    background-color: rgba(0,0,0,.08);
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    width:304px;
}
.numLine-inputs {
    text-align: left;
}
.numLine-panel {
    width:71px;
    display: inline-block;
    margin-right: -4px;
    margin-left: 6px;
}
.numLine-panel:first-child {
    margin-left: 2px;
}
input.number-pattern {
    height:28px !important;
}
.numLine-textArea {
    margin: 10px 0 0 0;
}




/* Number Card Control Panel Options */
.numCard-dropDwn-panel {
    text-align: left;
}
.numCard-panel {
    text-align: left;
    display: table;
    width: 100%;
    margin: 10px 0 0 0;
}
.numCard-panel + .numCard-panel {
    margin: 15px 0 0 0;
}
.numCard-divLabel {
    width: 125px;
    display: table-cell;
}
.numCard-divInput {
    width: 70px;
}
.numCard-Label {
    font-size: 1.2em;
}
.numCard-cardValues {
    margin: 20px 0 0 0;
    border-top: rgba(130,130,130,.3) 1px solid;
    padding-top: 15px;
}
.numCard-dropDwn {
    width:100%;
}
.customH2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    position: relative;
    text-align: left;
}



/* Bar Charter Control Panel Options */
.barCharter-dropDwn-panel {
    text-align: left;
}
.barCharter-Block {
    background-color: rgba(0,0,0,.08);
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    width:304px;
    text-align: left;
}
.barCharter-inputs {
    text-align: left;
}
.barCharter-panel {
    width:71px;
    display: inline-block;
    margin-right: -4px;
    margin-left: 6px;
}
.barCharter-panel:first-child {
    margin-left: 2px;
}
.barCharter-textArea {
    margin: 10px 0 0 0;
}
.barCharter-divLabel {
    width: 125px;
    display: table-cell;
}
.barCharter-divInput {
    width: 70px;
}
.barCharter-Label {
    font-size: 1.2em;
}
h1.barCharter, .barCharter-Block h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
}
h1.barCharter {
    font-size: 1.4em;
    margin: 0 0 35px 0;
    display: block;
    text-align: left;
}
.barCharter-Block h2 {
    margin: 0;
}
.barCharter-textArea {
    margin: 15px 0 0 0;
    border-top: rgba(130,130,130,.3) 1px solid;
    padding-top: 15px;
}




/* Pictogram Control Panel Options */
s.pictogram-options-container {
    margin: 0;
    border-bottom: rgba(130,130,130,.3) 1px solid;
    padding-bottom: 0;
}
.pictogram-dropDwn-panel {
    text-align: left;
    /*width:200px;*/
    vertical-align: top;
    position: relative;
}
.pictogram-dropDwn-panel-small {
    text-align: left;
    width:150px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    /*background-color: #CCCCCC;*/
}



.pictogram-keyOptions-container {
    /*background-color: #1ba8dd;*/
    position: relative;
    width: 312px;
    text-align: left;
    border-bottom: rgba(130,130,130,.3) 1px solid;
    padding: 10px 0 5px 0;
    border-top: rgba(130,130,130,.3) 1px solid;
}
.pictogram-dropDwn-panel-imgPicker {
    text-align: left;
    width:120px;
    vertical-align: top;
    position: relative;
    padding-left: 10px;
    display: inline-block;
    /*background-color: #396b9e;*/

}
.pictogram-pic-dropDwn-txt {
    display: inline-block;
    /*background-color: #CCCCCC;*/
    position: absolute;
    top: 18px;
    width:30px
}
.pictogram-pic-dropDwn-txt label {
    font-size: 1.2em;
    padding: 0 !important;
}
.pictogram-pic-dropDwn {
    display: inline-block;
    position: relative;
    top:0;
    left:0px;
}



.pictogram-textArea {
    border-top: rgba(130,130,130,.3) 1px solid;
    padding-top: 15px;
}

.pictogram-Block {
    background-color: rgba(0,0,0,.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    width:304px;
    text-align: left;
    margin-bottom: 15px;
}
.pictogram-inputs {
    text-align: left;
}
.pictogram-panel {
    width:71px;
    display: inline-block;
    margin-right: -4px;
    margin-left: 6px;
}
.pictogram-panel:first-child {
    margin-left: 2px;
}
.pictogram-textArea {
    margin: 10px 0 0 0;
}
.pictogram-divLabel {
    width: 125px;
    display: table-cell;
}
.pictogram-divInput {
    width: 70px;
}
.pictogram-Label {
    font-size: 1.2em;
}
h1.pictogram, .pictogram-Block h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
}
h1.pictogram {
    font-size: 1.4em;
    margin: 0 0 35px 0;
    display: block;
    text-align: left;
}
.pictogram-Block h2 {
    margin: 0;
}

/*.pictogram-pic-dropDwn .pic-btn {
    width: 110px !important;
    height: 40px !important;
}
.pic-btn .ui-btn-inner {
    padding: 0 !important;
}
.pic-btn .ui-btn-inner .ui-btn-text {
    display: block !important;
    height: 40px !important;
    width: 110px !important;
    background-image: url('../imgs/06_orange_turtle.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}*/
.pictogram-pic-options {
    width: 225px;
    height: 217px;
    padding: 5px 0;

    position: absolute;
    top: 125px;
    left: 98px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 1px 1px 3px  rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);

    border: 1px solid #aaaaaa;
    background: #ededed;
    font-weight: bold;

    z-index: 4;
}
.pic-option-btn {
    width: 60px !important;
    height: 40px !important;
    display: inline-block !important;
    margin-left: 5px !important;
}
.pic-option-btn.newRow {
    margin-left: 0 !important;
    padding: 0 !important;
}
.pic-option-btn .ui-btn-inner {
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    height: 40px !important;
    width: 60px !important;
    background-image: url('../imgs/06_yellow_football.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.pic-option-btn.pic-1 .ui-btn-inner {
    background-image: url('../imgs/06_blue_bike.png') !important;
}
.pic-option-btn.pic-2 .ui-btn-inner {
    background-image: url('../imgs/06_blue_helicopter.png') !important;
}
.pic-option-btn.pic-3 .ui-btn-inner {
    background-image: url('../imgs/06_blue_rocket.png') !important;
}
.pic-option-btn.pic-4 .ui-btn-inner {
    background-image: url('../imgs/06_red_fish.png') !important;
}
.pic-option-btn.pic-5 .ui-btn-inner {
    background-image: url('../imgs/06_green_apple.png') !important;
}
.pic-option-btn.pic-6 .ui-btn-inner {
    background-image: url('../imgs/06_green_car.png') !important;
}
.pic-option-btn.pic-7 .ui-btn-inner {
    background-image: url('../imgs/06_orange_flower.png') !important;
}
.pic-option-btn.pic-8 .ui-btn-inner {
    background-image: url('../imgs/06_orange_fruit.png') !important;
}
.pic-option-btn.pic-9 .ui-btn-inner {
    background-image: url('../imgs/06_orange_turtle.png') !important;
}
.pic-option-btn.pic-10 .ui-btn-inner {
    background-image: url('../imgs/06_yellow_football.png') !important;
}
.pic-option-btn.pic-11 .ui-btn-inner {
    background-image: url('../imgs/06_yellow_cap.png') !important;
}
.pic-option-btn.pic-12 .ui-btn-inner {
    background-image: url('../imgs/06_yellow_fish.png') !important;
}

.pic-1-update {
    background: url('../imgs/06_blue_bike.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_blue_bike.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_blue_bike.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_blue_bike.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_blue_bike.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_blue_bike.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-2-update {
    background: url('../imgs/06_blue_helicopter.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_blue_helicopter.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_blue_helicopter.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_blue_helicopter.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_blue_helicopter.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_blue_helicopter.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-3-update {
    background: url('../imgs/06_blue_rocket.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_blue_rocket.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_blue_rocket.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_blue_rocket.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_blue_rocket.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_blue_rocket.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-4-update {
    background: url('../imgs/06_red_fish.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_red_fish.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_red_fish.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_red_fish.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_red_fish.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_red_fish.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-5-update {
    background: url('../imgs/06_green_apple.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_green_apple.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_green_apple.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_green_apple.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_green_apple.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_green_apple.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-6-update {
    background: url('../imgs/06_green_car.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_green_car.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_green_car.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_green_car.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_green_car.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_green_car.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-7-update {
    background: url('../imgs/06_orange_flower.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_orange_flower.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_orange_flower.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_orange_flower.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_orange_flower.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_orange_flower.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-8-update {
    background: url('../imgs/06_orange_fruit.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_orange_fruit.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_orange_fruit.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_orange_fruit.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_orange_fruit.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_orange_fruit.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-9-update {
    background: url('../imgs/06_orange_turtle.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_orange_turtle.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_orange_turtle.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_orange_turtle.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_orange_turtle.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_orange_turtle.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-10-update {
    background: url('../imgs/06_yellow_football.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_yellow_football.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_yellow_football.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_football.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_football.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_football.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-11-update {
    background: url('../imgs/06_yellow_cap.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_yellow_cap.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_yellow_cap.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_cap.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_cap.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_cap.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}
.pic-12-update {
    background: url('../imgs/06_yellow_fish.png'), url('../images/carat.png'), -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #f1f1f1)) !important;
    background: url('../imgs/06_yellow_fish.png'), url('../images/carat.png'), -webkit-linear-gradient( #ffffff, #f1f1f1) !important;
    background: url('../imgs/06_yellow_fish.png'), url('../images/carat.png'), -moz-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_fish.png'), url('../images/carat.png'), -ms-linear-gradient( #ffffff , #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_fish.png'), url('../images/carat.png'), -o-linear-gradient( #ffffff, #f1f1f1 ) !important;
    background: url('../imgs/06_yellow_fish.png'), url('../images/carat.png'), linear-gradient( #ffffff, #f1f1f1) !important;
}


.pictoBtn {
    width: 72px;
    height: 40px;
    position: relative;
    top: 4px;
    left: 35px;
    border: 1px solid #cccccc;
    background-color: #EFEFEF;
    padding: 2px;
    z-index: 9999;
    -moz-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;

    background-repeat: no-repeat !important;
    background-position: center !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    cursor: pointer;
}
.pictoBtn:hover {
    border: 1px solid #aaaaaa;
}




/* Clock Control Panel Options */
.clock-cardGroup {
    margin: 10px 0 0  0;
    display: table;
}
.clock-cardGroup + .clock-cardGroup {
    border-top: rgba(130,130,130,.3) 1px solid;
    margin: 10px 0 0  0;
    padding-top: 12px;
}
.clock-cardGroup .clock-input1, .clock-cardGroup .clock-input2 {
    display: table-cell;
    width:45%;
    padding: 0 4px;
}




/* Geometry Control Panel Options */
.geometry-Block {
    background-color: rgba(0,0,0,.08);
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 6px;
    width:302px;
    text-align: left;
    position: relative;
}
.geometry-Block-rule {
    border-top: rgba(130,130,130,.3) 1px solid;
    width:100%;
    margin:10px 0;
}

.geometry-Block h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    margin:0;
}
.geometry-Block fieldset {
    position: absolute;
    top:9px;
    left:100px;
}







/*JQUERY MOBILE FORCE CHANGES*/
.ui-corner-all {
    -webkit-border-radius: 0em !important /*{global-radii-blocks}*/;
    border-radius: 0em !important /*{global-radii-blocks}*/;
}
div.ui-input-text {
    margin: 0 !important;
    height:28px;
}
.ui-mini {
    margin-top: 0 !important;
    margin-bottom: .25em
}
input.ui-input-text {
    padding: 0 0 .4em .3em !important;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
.numCard-dropDwn-panel .ui-field-contain label.ui-select {
    vertical-align: top !important;
    display: inline-block !important;
    padding: 6px 0 0 0 !important;
    width: 120px !important;
    margin: 0 2% 0 0 !important;
    text-align: left !important;
}
.numCard-dropDwn-panel .ui-field-contain .ui-select {
    width: 135px !important;
    display: inline-block
}
label.ui-select {
    font-size: 1.2em !important;
    line-height: 1.6em !important;
}
.ui-field-contain, fieldset.ui-field-contain {
    padding: .8em 0 !important;
    margin: 0 !important;
    border-width: 0 0 1px !important;
    overflow: visible !important;
}

.barCharter-dropDwn-panel .ui-field-contain label.ui-select {
    vertical-align: top !important;
    display: inline-block !important;
    padding: 6px 0 0 0 !important;
    width: 120px !important;
    margin: 0 2% 0 0 !important;
    text-align: left !important;
}
.barCharter-dropDwn-panel .ui-field-contain .ui-select {
    width: 80px !important;
    display: inline-block
}






.pictogram-dropDwn-panel .ui-field-contain label.ui-select {
    vertical-align: top !important;
    display: inline-block !important;
    padding: 6px 0 0 0 !important;
    margin: 0 2% 0 0 !important;
    text-align: left !important;
    width: 110px !important;
}
.pictogram-dropDwn-panel .ui-field-contain .ui-select {
    width: 65px !important;
}

.pictogram-dropDwn-panel-small .ui-field-contain label.ui-select {
    width: 80px !important;
    vertical-align: top !important;
    display: inline-block !important;
    padding: 6px 0 0 0 !important;
    margin: 0 2% 0 0 !important;
    text-align: left !important;
}
.pictogram-dropDwn-panel-small .ui-field-contain .ui-select {
    width: 65px !important;
}
.pictogram-pic-options .ui-btn {
    margin: 6px 0 0 0;
}
.pictogram-dropDwn-panel .ui-br, .pictogram-dropDwn-panel-small .ui-br {
    border-style: none;
}

.divInput .ui-focus, .numCard-divInput .ui-focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.divInput.startField .ui-shadow-inset {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.divInput.startField .ui-body-a {
    background-color: #efefef;
}
.divInput.startField .ui-body-a .ui-input-text {
    background: none;
}









